@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --clr-black:#000000;
    --clr-black-second:hsl(0, 0%, 15%);
    --clr-grey:hsl(212, 19%, 20%);
    --clr-grey-second:hsl(219, 12%, 67%);
    --clr-white-first:hsl(0, 0%, 100%);
    --clr-white-second:hsl(0, 0%, 96%);
    --clr-white-three:hsl(0, 0%, 93%);
    --clr-white-fourth:hsl(0, 0%, 89%)  ;
    --clr-yellow:hsl(48, 88%, 57%);
    --clr-orange:hsl(6, 93%, 71%);
}